/*** Colors ***/
$primary-color: color("blue", "darken-1");
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: color("teal", "lighten-1");
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("light-blue", "darken-1");

$color-text: #555;
$color-white: #fff; 

$grid-gutter: 15px;